* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

header,
.head-text {
    background-color: rgb(141, 214, 6);
    padding: 10px;
    text-align: center;
    color: rgb(48, 48, 48);
}

section .Content {
    display: block;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
}

section .Content .gif {
    transform: scale(0.00px);
}